
 <!-- <div class="container-fluid g-0 p-2">
    <div class="row g-0">
        <div class="cold-md-2">
            <img src="/assets/images" alt="Cars Image" class="profile">

        </div>
        <div class="col-md-10">
<div class="name">Cars</div>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary">Edit</button>
            <button type="button" class="btn btn-danger">Delete</button>
        </div>
    </div>
    <div class="row g-0 mt-3">
        <div class="col-md">
<table>
    <thead>
        <tr>
            <td col span="2">Car Details</td>
                
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Id</td>
            <td>{{cars.carID}}<td>
            </tr>
       

        <tr>
            <td>Make</td>
            <td>{{cars.make}}</td>
        </tr>
        <tr>
            <td>Model</td>
            <td>{{cars.model}}</td>
        </tr>

        <tr>
            <td>Fuel Type</td>
            <td>{{cars.fuelType}}</td>
        </tr>

        <tr>
            <td>Model</td>
            <td>{{cars.transmissionType}}</td>                        </tr>

        <tr>
            <td>Model</td>
          <td>{{cars.numberOfSeats}}</td>                        </tr>


        <tr>
            <td>Model</td>
            <td>{{cars.colour}}</td>
        </tr>


        <tr>
            <td>Model</td>
            <td>{{cars.registrationNumber}}</td>
        </tr>


        <tr>
            <td>Model</td>
            <td>{{cars.carType}}</td>
        </tr>

        <tr>
            <td>Model</td>
            <td>{{cars.category}}</td>                        </tr>

        <tr>
            <td>Model</td>
            <td>{{cars.price}}</td>
        </tr>

        <tr>
            <td>Model</td>
            <td>{{cars.hub}}</td>
        </tr>

        <tr>
            <td>Model</td>
          <td>{{cars.kilometers}}</td>  
    </tr>
    <tr>
        <td>Model</td>
      <td>{{cars.availabilitystatus}}</td>  
</tr>








    </tbody>
</table>
        </div>
    </div>
       
</div>
</div> -->
