body{
    color:rgb(238, 232, 232);
    display:flex;  
    padding:80px;
    padding-top:15px;
    height:100vh;
    justify-content: center;
    align-items: center;
    /* background:url('/assets/images/bg_2.jpg');
    background-size: cover;
    opacity:1;   */
    background-color: rgb(194, 194, 193);
}
.container{
    height:100%;
    width:100%;
    max-width:1000px; 
    background:white;
    padding:  28px;
    margin:0 28px;
    border-radius:10px;
    box-shadow: inset -2px 1px 8px rgb(248, 246, 246); 
    opacity:0.88
  
}

mat-mdc-dialog-container ,mdc-dialog__title {
    color: black !important;
}
mat-form-field{
    width:100%;

}
h1{
    font-size: 26px;
    font-weight: 600;
    padding-bottom: 6px;
    color:black;
    text-align: center;
    border-bottom: solid 1px rgb(15, 14, 14);
}

label{
    color:black;
    font-weight:400;
}
mat-raised-button{
    color:blue
} 
form{
    margin-top: 2.5rem;
}
.form-control{
    padding: 20 10px;
    border:1px solid black;
 }

