
<!-- <body > 
    <div class="color-overlay">
<div class="container">
    <h1> CARFLUENT</h1>
    <P>Drive The Luxury</P>
    <button type="button" class="btn btn-danger"  routerLink="/login"  >SIGN IN</button>
    </div>
</div>
</body> -->
<body>
    <img class="background-image" src="/assets/images/logincar.jpg" alt="">
    <div class="color-overlay"></div>
   
    <h1> CARFLUENT</h1>
    <em>Drive the Luxury</em>
    <button type="button" class="signin"  routerLink="/login" >SignIn <mat-icon class="example-icon" >login</mat-icon></button>

   
</body>