
<main class="mt-5 pt-3">
      <span class="example-spacer"></span>
    <span class="title">Manage Cars</span>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
        </div>
      </div>
  
      <div class="container">
        <div class="row">
            <div class="box-item col-md-4">
                <div class="flip-box">
                    <div class="flip-box-front text center" style="background: linear-gradient(135deg, rgb(39, 38, 39) 0%, rgb(235, 238, 241) 100%)">
                        <div class="inner colo-black">
                            <h3 class="flip-box-header">Add Cars</h3>
                        
                        </div>
                    </div>
                    <div class="flip-box-back text-center" style="background: linear-gradient(135deg, rgb(24, 23, 23) 0%, rgb(235, 236, 238) 100%)">
                        <div class="inner  colo-black">
                            <h3 class="flip-box-header">Add Cars</h3>
                           
                            <button  routerLink="/carfluent/addcars" class="flip-box-button" >
                              Add
                            </button>
    
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-item col-md-4">
              <div class="flip-box">
                  <div class="flip-box-front text center" style="background: linear-gradient(135deg,rgb(29, 28, 28) 0%, rgb(244, 244, 245) 100%)">
                      <div class="inner colo-black">
                          <h3 class="flip-box-header">View Cars</h3>
                      
                      </div>
                  </div>
                  <div class="flip-box-back text-center" style="background: linear-gradient(135deg,rgb(39, 38, 38) 0%, rgb(233, 236, 238) 100%)">
                      <div class="inner  colo-black">
                          <h3 class="flip-box-header">View Cars</h3>
                         
                          <button class="flip-box-button" routerLink="/carfluent/cars">
                            View
                          </button>
  
                      </div>
                  </div>
              </div>
          </div>
        </div>
    
     </div>
    
  
      <!-- <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card   text-dark h-100" routerLink="addcars">
            <div class="card-body py-5" routerLink="carfluent/addcars">ADD CARS
            </div>
            <div class="card-footer d-flex" routerLink="addcars">
              <a href="/carfluent/addcars">View more</a>
              <span class="ms-auto">
                <i class="bi bi-chevron-right" routerLink="addcars"></i>
              </span>
            </div>
          </div>
        </div>
  
        <div class="col-md-4 mb-4">
          <div class="card  text-dark  h-100">
            <div class="card-body py-5"  routerLink="cars">CARS LIST</div>
             
            <div class="card-footer d-flex" routerLink="cars">
              <a href="/carfluent/cars"> View Details</a>
              <span class="ms-auto">
                <i class="bi bi-chevron-right"></i>
              </span>
            </div>
          </div>
        </div>
  
        -->