body{
    background-color: rgb(199, 194, 194);
}
h1{
    font-weight: bold;
    text-align: center;
    margin-top:20px
}
p{
    color:grey
}
form{
    width:800px;
    height:500px;
    padding:20px;
    background-color: rgb(245, 243, 240);
    position:absolute;
    border-radius: 9px;
    top:150px;
    left:450px;
    right:350px;
    align-items: center;
}
.form-control{
   
    margin-left:180px;
    align-items: center;
}
label{
   
    margin-left:180px;
  
    align-items: center;
}
.btn-primary{

    margin-left:260px;
    box-shadow: none;

   
   
  
 
}