
<main class="mt-5 pt-3">
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="=false" aria-label="Example home icon" routerLink="/home">dashboard</mat-icon>
    <span class="title">Dashboard</span>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
        </div>
      </div>

      <div class="row">
      <div class="col-md-4 mb-4">
      <div class="card">
        <img src="/assets/images/car1.jpg" class="card-img" alt="">
        <div class="card-body">
            <h1 class="card-title">CARS</h1>
            <a href="/carfluent/managecars" class=card_info>View Details</a>
        </div>
    </div>
  </div>
  
  <div class="col-md-4 mb-4">
    <div class="card">
      <img src="/assets/images/user.jpg" class="card-img" alt="">
      <div class="card-body">
          <h1 class="card-title">USERS</h1>
          <a href="/carfluent/users" class=card_info>View Details</a>
      </div>
  </div>
</div>


  <div class="col-md-4 mb-4">
  <div class="card">
    
    <img src="/assets/images/bookings.jpg" class="card-img" alt="">
   
    <div class="card-body">
        <h1 class="card-title">bookings</h1>
        <a href="/carfluent/bookings" class=card_info>View Details</a>
    </div>
  </div>
</div>


<div class="col-md-4 mb-4">
  <div class="card">
    <img src="/assets/images/payment.jpg" class="card-img" alt="">
    <div class="card-body">
        <h1 class="card-title">payments</h1>
        <a href="/carfluent/payments" class=card_info>View Details</a>
    </div>
</div>
</div>

<div class="col-md-4 mb-4">
  <div class="card">
    <img src="/assets/images/offers.jpeg" class="card-img" alt="">
    <div class="card-body">
        <h1 class="card-title">special offers</h1>
        <a href="/carfluent/promocodes" class=card_info>View Details</a>
    </div>
  </div>
</div>

<div class="col-md-4 mb-4">
  <div class="card">
    <img src="/assets/images/return.jpg" class="card-img" alt="">
    <div class="card-body">
        <h1 class="card-title">Returned CARS</h1>
        <a href="/carfluent/returnedcars" class=card_info>View Details</a>
    </div>
  </div>
</div>


</div>



      <!-- <div class="row">
        <div class="col-md-4 mb-3">
          <div class="card   text-dark h-100">
            <div class="card-body py-5" routerLink="/carfluent/managecars">CARS
            </div>
            <div class="card-footer d-flex" routerLink="/carfluent/managecars">
              <a href="/carfluent/managecars">View more</a>
              <span class="ms-auto">
                <i class="bi bi-chevron-right" routerLink="/carfluent/managecars"></i>
              </span>
            </div>
          </div>
        </div>
  
        <div class="col-md-4 mb-3">
          <div class="card  text-dark  h-100">
            <div class="card-body py-5"  routerLink="/carfluent/users">USERS
              <mat-icon>group</mat-icon>
            </div>
            <div class="card-footer d-flex" routerLink="/carfluent/users">
              <a href="/carfluent/users"> View Details</a>
              <span class="ms-auto">
                <i class="bi bi-chevron-right"></i>
              </span>
            </div>
          </div>
        </div>
  
        <div class="col-md-4 mb-3">
          <div class="card text-dark h-100">
            <div class="card-body py-5" routerLink="/carfluent/bookings">BOOKINGS </div>
            <div class="card-footer d-flex" routerLink="/carfluent/bookings">
              <a href="carfluent/bookings">View Details</a>
              <span class="ms-auto">
                <i class="bi bi-chevron-right"></i>
              </span>
            </div>
          </div>
        </div>
  
        <div class="col-md-4 mb-3">
          <div class="card  text-dark h-100">
            <div class="card-body py-5 " routerLink="/carfluent/payments" >PAYMENTS
              <mat-icon>payment</mat-icon>
            </div>
            <div class="card-footer d-flex" routerLink="/carfluent/payments">
              <a href="/carfluent/payments">View more</a>
              <span class="ms-auto">
                <i class="bi bi-chevron-right" routerLink="/carfluent/payments"></i>
              </span>
            </div>
          </div>
        </div>
  
        <div class="col-md-4 mb-3">
          <div class="card text-dark h-100 ">
            <div class="card-body py-5" routerLink="/carfluent/returnedcars">RETURNED CARS </div>
            <div class="card-footer d-flex" routerLink="/carfluent/returnedcars">
              <a href="carfluent/returnedcars">View Details</a>
              <span class="ms-auto">
                <i class="bi bi-chevron-right"></i>
              </span>
            </div>
          </div>
        </div>
  
        <div class="col-md-4 mb-3">
          <div class="card  text-dark h-100">
            <div class="card-body py-5"routerLink="/carfluent/promocodes">SPECIAL OFFERS
               <mat-icon>
                local_offer
               </mat-icon>
            </div>
            <div class="card-footer d-flex" routerLink="/promocodes">
              <a href='carfluent/promocodes'>View more</a>
              <span class="ms-auto">
                <i class="bi bi-chevron-right"></i>
              </span>
            </div>
          </div>
        </div>
      </div> -->